.env
poetry.lock
.python-version
mlruns

notebooks/artifacts/
notebooks/full_optimized.py

scripts/py_pipeline/__pycache__/
scripts/spark_pipeline/__pycache__/
scripts/spark_debug
src/__pycache__/
spark_jars

scripts/Untitled.ipynb

static/
~static/hld.JPG